target/
.mvn/
mvnw
mvnw.cmd
!**/src/main/resources/extracted/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Others ###
*.class
*.log
*.ctxt
*.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### Environment ###
.env
.env.local
.env.*.local

### Maven ###
log/
nohup.out
